{{ define "main" }}
  <div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" .) }}
    {{ partial "toc.html" . }}
    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
                <!-- CSTM start -->
                {{ partial "breadcrumb.html" . }}
                <!-- CSTM end -->
        <div class="content">
          <h1>{{ .Title }}</h1>
          {{ if eq .Kind "taxonomy" }}
            {{ $allTags := (T "allTags") }}
            {{ $taggedWith := (T "taggedWith") }}
            <!-- Tags Index Listing -->
            <h2>{{ $allTags }}</h2>
            <ul style="list-style: none; margin-left: 0;">
              {{- range $.Site.Taxonomies.tags.Alphabetical -}}
                <li>
                  <a href="{{ .Page.RelPermalink }}" title="{{ $taggedWith }} {{ .Page.Title }}">{{ .Page.Title }}</a>  <sup>{{ .Count }}</sup>
                </li>
              {{ end }}
            </ul>
          {{ else if eq .Kind "term" }}
            <!-- Tags Posts Listing -->
            {{ $tagName := .Title }} <!-- Assuming you're in the context of a specific tag -->
            {{ $tagPosts := where .Site.RegularPages "Params.tags" "intersect" (slice $tagName) }}
            {{ $noPosts := (T "noPosts") }}

            {{ if gt (len $tagPosts) 0 }}
              <h2>Posts tagged with "{{ $tagName }}"</h2>
              <ul style="list-style: none; margin-left: 0;">
                {{ range $tagPosts.ByDate.Reverse }}
                  <li style="display: flex; align-items: baseline;">
                    <span style="flex: 0 0 120px;">{{ .Date.Format "Jan 02, 2006" }}</span>
                    <a style="text-decoration: none;" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
                  </li>
                {{ end }}
              </ul>
            {{ else }}
              <p>{{ $noPosts }}</p>
            {{ end }}
          {{ end }}
          {{ .Content }}
        </div>
        <div class="mt-16"></div>
        {{ partial "components/last-updated.html" . }}
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
